@import '../variables';

.cat {
  ul {
    display: block;

    li {
      display: block;
      // margin-right: 10px;
    }
  }
}
.categories {
  .categories-ul {
    display: flex;

    .categories-li {
      display: block;
      background-color: #f9f9f9;
      border-radius: 30px;
      margin-right: 20px;
      // font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        display: block;
        // background-color: #282828;
        color: #1b1a1a;
      }
    }
  }
}
